PORT=4000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE"
PG_SSL=false
ADMIN_PASSWORD=innotrans-admin
JWT_SECRET=please-change-me
OSS_REGION=oss-cn-hangzhou
OSS_ACCESS_KEY=your-access-key
OSS_ACCESS_SECRET=your-access-secret
OSS_BUCKET=your-bucket
